<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ssm.dufy.mapper.UsersMapper">
		<select id="findone" resultType="Users" parameterType="String" >
			select * from users where username=#{users.username};
		</select>
		
		<select id="addUsers" parameterType="Users">
			insert into users(username,password,password_salt,status) values(#{username},#{password},#{password_salt},#{status})
		</select>
			
		<select id="findAll" resultType="Users">
			select * from users;
		</select> 
</mapper>